.sectionWrapper {
    margin: 3.75rem auto;
}
.sectionMain{
    max-width: 78.75rem;
    padding: 0 1.875rem;
    margin: 0 auto;
}
.sectionInfo{
    text-align: center;
}
.sectionTitle {
    font-size: 2.25rem;
    font-weight: 500;
}
.sectionDescription{
    font-size: 1rem;
}
.sectionCard{
    margin: 1.875rem 0;
}
.sectionCard:nth-child(even){
    flex-direction: row-reverse;
}

@media (max-width:425px){
    .sectionMain{
    
    padding: 0;
}
    .sectionTitle {
    font-size: 1.5rem;
    font-weight: 500;
}
.sectionDescription{
    font-size: 0.9rem;
}
}