.carousel {
    background-color: #FF9696;
    background-image: url('../../assets/images/header/main-bkg.png');
    background-size: cover;
    background-position: center;
    height: 46.75rem;
}


.carouselDiv{
    max-width:77.5rem;
    height: 43.75rem;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0 auto;
    
}
.carouselDiv > img{
    max-width:400px;
    max-height: 400px;
}
.carouselDiv p {
    width:43.75rem;
    color:white;
    font-size: 2.25rem;
    opacity: 0.1;
    transform: translateY(50%);
    transition: 1s;

}
.carouselDiv p > span{
    font-size: 4rem;
}
.verticalLine{
      border-left: 2px solid white;
  height: 12.5rem;
  padding-left: 1.25rem;
}
.heroUL{
    margin-top: 5rem;
    width:43.75rem;
    align-self:center;
    position: relative;
}
.heroUL > li {
    color:white;
    font-size: 1.125rem;
    font-weight: bold;
    margin:60px auto;
    position: relative;
    opacity: 0;
    transform: translateX(-50%);
    transition: 1s;

}
.heroUL > li:nth-child(2){
    left:calc(4.375rem*1.5);
}
.heroUL > li:nth-child(3){
    left:calc(8.75rem*1.5);
}
.heroUL > li:nth-child(4){
    left:calc(13.125rem*1.5);
}
.heroUL > li:nth-child(5){
    left:calc(17.5rem*1.5);
}
.heroUL > li:nth-child(6){
    left:calc(21.875rem*1.5);
}