@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;900&display=swap');


* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    
}

.ourClientsCarousel .carousel-indicators  button{
    width:14px !important;
    height: 14px !important;
    background-color: black !important;
    opacity: 0.5 !important;
    border-radius: 50%;
}
.ourClientsCarousel .carousel-indicators  button.active {
    opacity: 1 !important;
}
