
.sectionInfo{
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0 auto;
}
.sectionInfo p {
    font-size: 1.5rem;
    max-width:45rem;

}
.line{
    border-top: 3.5px solid black;
    max-width: 600px;
    margin: 3.75rem auto 3.75rem auto;
  
}
.sectionCarousel{
    max-width: 1200px;
    margin: 0 auto 10.75rem auto;
}
.background{
    max-width: 1200px;
    background-image: url('../../assets/images/kkgroup/bkg2x.png');
    background-size:contain;
    background-position:center;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.carouselImage{
    position: relative;
    height: 300px;
}
.carouselImage > img {
    width: 400px;
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}