.sectionWrapper{
    max-width: 77.5rem;
    padding: 0 1.25rem;
    margin: 0 auto;

}
.sectionInfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0 auto;
}
.sectionInfo p {
    font-size: 1.5rem;
    max-width:45rem;

}
.line{
    border-top: 3.5px solid black;
    max-width: 600px;
    margin: 3.75rem auto 3.75rem auto;
  
}
.sectionCarousel{
    max-width: 1200px;
    margin: 0 auto;
}
.background{
    max-width: 1200px;
    background-image: url('../../assets/images/kkgroup/bkg2x.png');
    background-size:contain;
    background-position:center;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.carouselImage{
    position: relative;
    height: 300px;
}
.carouselImage > img {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.kkGroup{
    margin: 3.75rem auto ;
    max-width: 1200;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.kkGroupTitle {
    font-size: 2.875rem;
}
.kkGroupTitle > span {
    font-size: 4rem;
    font-weight: bold;
}
.horizontalLine {
    display: inline-block;
    width:6.25rem;
    border-top: 1px solid black;
    margin-top: -1.25rem;
    margin-bottom: 2.1875rem;
}
.kkGroupInfo{
    font-size: 1.5rem;
}
@media (max-width:1200px) {
    .sectionInfo{
    justify-content: space-around;
    align-items: center;
    
}
.sectionInfo > img {
    width: 250px;
}
    .sectionInfo p {
    font-size: 1.2rem;
    max-width:35rem;

}
.kkGroupInfo{
    font-size: 1.2rem;
}
.line{
    border-top: 2.5px solid black;
    max-width: 400px;
    margin: 3rem auto 3rem auto;
  
}
}
@media (max-width:900px) {
    .sectionInfo{
        flex-direction: column;
    
    
}
.sectionInfo > img {
    width: 250px;
}
    .sectionInfo p {
    font-size: 1.2rem;
    max-width:35rem;

}
.kkGroupInfo{
    font-size: 1.2rem;
}
.line{
    border-top: 2px solid black;
    max-width: 300px;
    margin: 2rem auto 2rem auto;
  
}
}

@media (max-width:720px){
.carouselImage > img {
    width: 380px;
}
}
@media (max-width:620px){
.carouselImage > img {
    width: 330px;
}
}
@media (max-width:540px){
.carouselImage > img {
    width: 300px;
}
.line{
    border-top: 1.5px solid black;
    max-width: 200px;
    margin: 1rem auto 1rem auto;
  
}
}
@media (max-width:460px){
.carouselImage > img {
    width: 260px;
}
}
@media (max-width:365px){
.carouselImage > img {
    width: 200px;
}
}