.navbarWrapper{
    position: absolute;
    width: 100%;
    margin:0 auto;
    background: transparent;
    z-index: 10;
}
.navbar{
    width: 1240px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:0 auto;
    padding: 0 20px;
}
.logo{
    width:100px;
}
a{
text-decoration: none;
color:white;
text-decoration: underline;
}
.navbarList{
    position: relative;
    margin-left: auto; 
    margin-right: 0;
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.navbarList > li{
     list-style: none;
    display: inline-block;
    font-weight: bold;
}
.navbarList > li :hover{
    text-decoration: none;
    color:white;
}
@media (max-width:576px){
    .navbarList{
        display: unset;
    }
    .navbarList > li {
        display: block;
        margin-bottom: 0.3125rem;
    }
}