.sectionWrapper{
    max-width: 1200px;
    margin: 60px auto;

}
.sectionInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin:0 auto;
}
.sectionInfo > p {
    font-size: 3rem;
    max-width:45rem;

}
.sectionCarousel {
    margin-top: 2.5rem;
    width: 100%;
    max-width: 75rem;
}
.carouselInfo {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 300px;
}
.carouselInfo img {
    width: 200px;
}


@media (max-width:845px){
    .carouselInfo img {
    width: 160px;
}

}
@media (max-width:710px){
    .carouselInfo img {
    width: 140px;
}

}
@media (max-width:595px){
    .carouselInfo img {
    width: 120px;
}


}
@media (max-width:520px){
    .carouselInfo img {
    width: 100px;
}

}
@media (max-width:520px){
    .carouselItem{
        height:500px;
    }
    .carouselInfo {
    max-width:300px;
    margin:0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.carouselInfo > img {
    margin-bottom: 1.875rem;
}

}