.cardWrap{
    width: 22.5rem;
    height: 26.25rem;
    margin-bottom: 1.875rem;
    transition: 0.5s ease-out;
}
.cardWrap:hover{
    transform: scale(110%);
}
.cardInfo {
    text-align: center;
    padding:1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.cardTitle {
    font-weight: 400;
    font-size: 1.875rem;
    color:rgba(17, 11, 54, 0.5);
}
.cardDescription{
    font-size: 1rem;
    line-height: 1.5rem;
    color:#110B36;
}
.cardInfo > * {
    margin-bottom: 1.25rem;
}

@media (max-width:375px){
    .cardImg{
        width: 100px;
    }
.cardDescription{
    font-size: 1rem;
    line-height: 1.5rem;
    color:#110B36;
}
    .cardTitle {
    
    font-size: 1.5rem;
    
}
.cardDescription{
    font-size: 1rem;
    line-height: 1.3rem;
    
}
}